.course-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgb(0 0 0 / 6%) 0 0 15px;
  transition: all 0.7s;
  margin-bottom: 30px;

  &:hover {
    transform: translateY(-10px);

    .content .title {
      color: h.$primary;
    }
  }

  .course-image {
    @include h.box-ratio(16, 10);
  }

  .live {
    position: absolute;
    top: 10%;
    left: 5%;
    padding: 5px 10px;
    font-size: 15px;
    background-color: h.$primary;
    color: white;
    border-radius: 5px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 20px;

    .attributes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .categories {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
      }

      .category {
        background-color: lighten($color: h.$primary, $amount: 40);
        padding: 5px 20px;
        color: h.$primary;
        display: inline-block;
        transition: all 0.5s;
        font-weight: 500;
        font-size: 15px;

        &:hover {
          color: white;
          background-color: h.$primary;
        }
      }

      .course-price {
        font-size: 18px;
        color: h.$primary;
        font-weight: 600;
        padding: 6px 0;
        &.discounted {
          padding: 0;
        }
      }
    }

    .title {
      font-size: 21px;
      transition: all 0.7s;
    }

    .data {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;

      i {
        color: h.$primary;
        margin-inline-end: 5px;
      }
    }

    .sep {
      border-top: 1px solid #E7E5E5;
    }

    .instructor-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .instructor {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        font-size: 16px;

        .name {
          font-weight: 500;
          color: h.$theme-black;
        }

        .image {
          @include h.circle(30px);
          overflow: hidden;
          position: relative;
        }
      }
    }
  }

  @include h.media(">992px") {
    .content {
      gap: 17px;
      padding: 30px;

      .attributes {
        .categories {
          gap: 5px;
        }

        .category {
          padding: 5px 20px;
          font-size: 16px;
        }

        .course-price {
          font-size: 22px;
        }
      }

      .title {
        font-size: 22px;
      }

      .data {
        gap: 30px;

        i {
          margin-inline-end: 5px;
        }
      }

      .instructor-row {
        .instructor {
          gap: 10px;
          font-size: 16px;

          .name {
            font-weight: bold;
          }
        }
      }
    }
  }
}
