.news-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgb(0 0 0 / 6%) 0 0 15px;
  transition: all 0.7s;

  &:hover {
    transform: translateY(-10px);

    .content {
      .title {
        color: h.$primary;
      }

      .read-more {
        color: h.$primary;
      }
    }
  }

  .news-image {
    @include h.box-ratio(16, 10);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 25px 20px;

    .meta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;

      i {
        color: h.$primary;
      }
    }

    .title {
      font-size: 21px;
      transition: all 0.7s;
      font-weight: 700;
    }

    .read-more {
      color: h.$theme-black;
      transition: all 0.7s;
    }
  }

  @include h.media(">992px") {
    .content {
      gap: 17px;
      padding: 30px;

      .meta {
        gap: 16px;
      }

      .title {
        font-size: 22px;
      }
    }
  }
}
