@use "../../../src/scss/helpers" as h;

section.about-header {
  .img-container {
    border-radius: 10px;

    @include h.box-ratio(1, 1);
  }

  .block-content {
    padding-inline-start: 25px;

    .prefix {
      color: h.$primary;
      margin-bottom: 7px;
    }

    .title {
      margin-bottom: 15px;
      font-size: 35px;
    }

    .description {
      margin-bottom: 20px;
    }

    .btn {
      @include h.hover-slide(darken($color: h.$primary, $amount: 5));
      border-radius: 50px;
      padding: 15px 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      background-color: h.$primary;
      color: white;
    }
  }

  .bullets {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    li {
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
      color: h.$theme-black;
      width: 50%;

      .check {
        @include h.circle(40px);
        background-color: lighten($color: h.$primary, $amount: 0.4);
        margin-inline-end: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: white;
          font-size: 22px;
        }
      }
    }
  }
}
