@use "../../../src/scss/helpers" as h;

section.about-header {
  .img-container {
    border-radius: 10px;

    @include h.box-ratio(1, 1);
  }

  .block-content {
    padding-top: 25px;

    .prefix {
      color: h.$primary;
      margin-bottom: 7px;
    }

    .title {
      margin-bottom: 10px;
      font-size: 28px;
    }

    .description {
      margin-bottom: 20px;
    }

    .btn {
      @include h.hover-slide(darken($color: h.$primary, $amount: 5));
      border-radius: 50px;
      padding: 10px 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      background-color: h.$primary;
      color: white;
    }
  }

  .bullets {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    li {
      margin-bottom: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      color: h.$theme-black;
      width: 100%;

      .check {
        @include h.circle(30px);
        background-color: lighten($color: h.$primary, $amount: 0.4);
        margin-inline-end: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: white;
          font-size: 16px;
        }
      }
    }
  }

  @include h.media('>992px') {
    .img-container {
      border-radius: 10px;
      }
  
    .block-content {
      padding-inline-start: 25px;
      padding-top: 0;
  
      .prefix {
        margin-bottom: 7px;
      }
  
      .title {
        margin-bottom: 15px;
        font-size: 35px;
      }
  
      .description {
        margin-bottom: 20px;
      }
  
      .btn {
        padding: 15px 35px;
        background-color: h.$primary;
      }
    }
  
    .bullets {  
      li {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 600;
        color: h.$theme-black;
        width: 50%;
  
        .check {
          margin-inline-end: 15px;

          i {
            font-size: 22px;
          }
        }
      }
    }
  }
}
