@use "../../../src/scss/helpers" as h;

section.imp-banner {
  background-color: h.$primary;
  padding: 50px 0;

  .banner-text {
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
  }

  .banner-btn {
    @include h.hover-slide(darken($color: white, $amount: 5));
    text-align: center;
    padding: 15px 35px;
    background-color: white;
    color: h.$primary;
  }

  @include h.media(">992px") {
    padding: 100px 0;

    .banner-text {
      font-size: 35px;
      margin-bottom: 0;
    }

    .banner-btn {
      padding: 15px 35px;
    }
  }
}
