@use "../../../src/scss/helpers" as h;

.categories-overview {
  .container {
    margin-bottom: -30px;
  }
  .category-block {
    @include h.hover-slide(h.$primary);
    width: 100%;
    padding: 40px 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 15px rgb(0 0 0 / 6%);
    background-color: white;

    &::before {
      background-color: white;
    }

    &:hover {
      &::before {
        background-color: h.$primary;
      }

      .icon {
        background-color: white;
      }

      h3.name {
        color: white;
      }
    }

    .icon {
      @include h.circle(50px);
      background-color: lighten($color: h.$primary, $amount: 40);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.5s;

      i {
        color: h.$primary;
        font-size: 18px;
      }
    }

    h3.name {
      font-size: 21px;
      transition: color 0.5s;
      font-weight: 700;
    }
  }

  @include h.media(">992px") {
    .container {
      margin-bottom: -30px;
    }
    .category-block {
      padding: 40px 30px;
      margin-bottom: 30px;
      gap: 15px;
      box-shadow: 0 0 15px rgb(0 0 0 / 6%);

      .icon {
        @include h.circle(60px);
        i {
          font-size: 25px;
        }
      }

      h3.name {
        font-size: 22px;
      }
    }
  }
}
