@use "helpers" as h;

@import "./helpers/helpers";

// third party
@import "../../node_modules/@splidejs/splide/src/css/themes/default/index.scss";

// components
@import "./components/header";
@import "./components/imp-section";
@import "./components/course-price";
@import "./components/course-card";
@import "./components/news-card";
@import "./components/icon-card";


@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.wp-block {
    max-width: 100%;
    margin-inline-start: 4vw;
    margin-inline-end: 4vw;
}
