@use "helpers" as h;

@import "./helpers/helpers";

// third party
@import "../../node_modules/@splidejs/splide/src/css/themes/default/index.scss";

// components
@import "./components/course-price";


@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.wp-block {
    max-width: 100%;
    margin-inline-start: 4vw;
    margin-inline-end: 4vw;
}
