@use "helpers" as h;

@import "./helpers/helpers";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @import "./base/normalize";

// Bootstrap customization
@import "../../node_modules/bootstrap/scss/functions";

@import "./base/bootstrap-cust";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "../../node_modules/@splidejs/splide/src/css/themes/default/index.scss";

// components
@import "./components/imp-section";
@import "./components/navigation";
@import "./components/sidenav";
@import "./components/course-price";
@import "./components/course-card";
@import "./components/news-card";
@import "./components/icon-card";

// fonts
@import "./base/font-face";
@import "./base/font-cust";
@import "../../fonts/icomoon/style.css";

a {
  text-decoration: none;
  color: h.$primary;
}

body {
  font-size: 15px;

  @include h.contact_form_seven(
    $field-bg: white, $field-placeholder-color: black, $field-border-radius: 0, $submit-bg: h.$primary
  );

  @include h.media(">992px") {
    font-size: 16px;
  }
}
