@use "../../../src/scss/helpers" as h;

section.home-slider {
  padding: 60px 0;
  background-color: #f6f8fa;

  .splide__arrows {
    button {
      background-color: white;
      width: 48px;
      height: 98px;
      border-radius: 25px;
    }

    .splide__arrow--prev {
      left: -2rem;
    }

    .splide__arrow--next {
      right: -2rem;
    }
  }

  .course-slide {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .course-image {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;

      .img-container {
        @include h.box-ratio(16, 11);
      }
    }

    .data-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 25px;

      .specs-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        & > div {
          display: flex;
          justify-content: space-between;
          gap: 25px;
          flex-wrap: wrap;

          .course-spec {
            display: flex;
            align-content: center;
            align-items: center;
            gap: 5px;

            .avatar {
              @include h.circle(30px);
              display: flex;
              justify-content: center;
              align-items: center;
              top: 7px;

              i {
                color: h.$primary;
                font-size: 26px;
              }
            }

            .content {
              span {
                font-size: 13px;
                color: #ababab;
              }

              p {
                font-size: 15px;
              }
            }
          }
        }
      }

      .course-title {
        text-decoration: none;
        color: black;

        .title {
          transition: all 0.5s;
          font-size: 24px;
          font-weight: 300;
        }

        &:hover {
          .title {
            color: h.$primary;
          }
        }
      }

      .attributes-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .course-attribute {
          font-size: 15px;
          text-transform: capitalize;

          i {
            color: h.$primary;
            margin-inline-end: 5px;
          }
        }
      }

      .price-btn {
        @include h.hover-slide(darken($color: h.$primary, $amount: 5));
        padding: 5px 20px;
        border-radius: 0;
        background-color: h.$primary;
        color: white;
        justify-content: space-between;
        width: 100%;
        font-size: 16px;
        align-items: center;
      }
    }
  }

  @include h.media(">992px") {
    padding: 60px 0;

    .splide__arrows {
      button {
        width: 60px;
        height: 60px;
        border-radius: 60px;
      }

      .splide__arrow--prev {
        left: -2rem;
      }

      .splide__arrow--next {
        right: -2rem;
      }
    }

    .course-slide {
      gap: 65px;
      justify-content: stretch;
      align-items: center;
      flex-direction: row;

      .course-image {
        max-width: 500px;
        width: 45%;
        border-radius: 10px;

        .img-container {
          @include h.box-ratio(16, 11);
        }
      }

      .data-container {
        width: calc(55% - 65px);
        gap: 36px;

        .specs-row {
          & > div {
            justify-content: flex-start;
            gap: 60px;

            .course-spec {
              .avatar {
                @include h.circle(40px);
                top: 0;

                i {
                  font-size: 2em;
                }
              }

              .content {
                span {
                  font-size: 13px;
                }

                p {
                  font-size: 15px;
                }
              }
            }
          }
        }

        .course-title {
          .title {
            font-size: 32px;
          }
        }

        .attributes-row {
          justify-content: flex-start;
          gap: 40px;

          .course-attribute {
            font-size: 15px;

            i {
              margin-inline-end: 5px;
            }
          }
        }

        .price-btn {
          @include h.hover-slide(darken($color: h.$primary, $amount: 5));
          padding: 7px 20px;
          border-radius: 0;
          max-width: 300px;
          width: 100%;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
}
