@use "../../../src/scss/helpers" as h;

.imp-payment-wrapper {
  @include h.media("<sm") {
    padding-top: 0rem !important;
  }
  .imp-payment-section {
    .imp-payment-list {
      padding-block: 30px;
      border-bottom: 1px Solid #e5e7ec;
      .payment {
        display: flex;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        cursor: pointer;
        * {
          font-size: 18px;
          font-weight: bold;
          line-height: 2.5;
          text-align: left;
          color: #32323c;
          margin-bottom: 0;
          @include h.media("<sm") {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: #20203c;
          }
        }
        &:after {
          content: url('../../../../images/payment.svg');
          color: #777;
          font-weight: bold;
          float: right;
          margin-left: 5px;
        }
        &.active {
          &:after {
            content: url('../../../../images/payment_active.svg');
          }
        }
      }
    }

  
    
    .panel {
      padding: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      * {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.44;
        text-align: left;
        color: #32323c;
        margin-bottom: 0;
        padding: 30px 0;
      }
    }
  }
  &.style2 {
    .imp-payment-lists {
      display: grid;
      grid-gap: 1.25rem;
      grid-auto-flow: row dense;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0 30px;
      .imp-payment-list {
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: 6px;
        border: solid 1px #e5e7ec;
        min-height: 222px;
        max-height: 222px;
        margin-bottom: 30px;
      }
    }
  }
}
